@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap');

:root {
  --cor0: #F2E205; 
  --cor1: #F2CB05; 
  --cor2: #A68B03;
  --cor3: #403501;
  --cor4: #0D0D0D;
}

body, li {
  font-family: 'Poppins', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 1rem;
}

.header {
  background-color: var(--cor4);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

img {
  margin-left: 12px;
  padding: 12px;
  width: 50px;
  height: 50px;
}

#btn-mobile {
  display: none;
}

.menu {
  display: flex;
}

/* .menu li {
  margin: 0;
} */

.menu li a {
  display: block;
  margin: 12px;
  padding: 8px;
  color: var(--cor0);
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}

.menu li a:hover {
  background-color: #333333;
  border-radius: 4px;
  cursor: pointer;
}

article {
  margin: 24px;
  line-height: 1.4em;
  text-align: center;
}

article p {
  margin: 12px;
  text-align: justify;
}

h1 {
  color: #5E240B;
  font: oblique 900 32px 'Playfair Display SC', serif;
  padding: 12px;
  border-bottom: 1px solid #CCCCCC;
}

.grid {
  display: grid;
  /* min-width: 500px; */
  max-width: 100%;
  margin: auto;
  margin-bottom: 20px;
  padding: 18px;
  border-radius: 4px;
  /* overflow-x: hidden; */
}

section {
  display: flex;
  align-items: center;
  margin: 12px;
  border-radius: 8px;
}

section h2 {
  font: 700 60px 'Playfair Display SC', serif;
  text-transform: uppercase;
  margin: 18px;
  padding: 42px;
}

section p {
  line-height: 1.4em;
  text-align: start;
  margin: 12px;
  padding: 18px;
}

/* #home {
  flex-direction: row-reverse;
  color: var(--cor4);
  background-color: var(--cor1);
} */

#sobre {
  color: white;
  background-color: var(--cor4);
}

#cursos {
  flex-direction: row-reverse;
  color: var(--cor4);
  background-color: var(--cor1);
}

.links {
  display: flex;
  margin: 12px;
}

#cursos a {
  font: 600 12px 'Playfair Display SC', serif;
  text-decoration: none;
  background-color: var(--cor4);
  color: var(--cor1);
  margin: 16px;
  padding: 12px;
  border-radius: 4px;
}

.cursos p {
  line-height: 1.5em;
  margin: 12px;
  padding: 18px;
}

#faq {
  color: white;
  background-color: var(--cor4);
}

.faq-lista {
  line-height: 1.4em;
  margin-right: 24px;
  padding: 24px;
}

.accordion dd {
  display: none;
}

.accordion dt::after {
  content: '⮝';
  margin-left: 8px;
}

.accordion dt.ativo::after {
  content: '⮟';
}

.accordion dd.ativo {
  display: block;
  animation: slideDown .4s forwards;
}

dd {
  color: gray;
  margin-bottom: .5rem;
  margin-top: .5rem;
  margin-left: 48px;
}

dt::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 6px;
  margin-right: 8px;
  background-color: #F2CB05;
}

#contato {
  background-color: var(--cor1);
}

.contato {
  display: block;
}

.contato h2 {
  font-size: 40px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 4px;
}

.dados li {
  text-align: right;
  line-height: 1.4em;
  margin: 8px;
  padding: 8px;
}

.dados li::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 6px;
  margin-right: 8px;
  background-color: gray;
}

footer {
  color: var(--cor4);
  font-size: .8em;
  width: 180px;
  margin: auto;
  padding: 4px;
  border-radius: 8px;
  text-align: center;
}

.custom-shape-divider-bottom-1670361188 {
  position: absolute;
  left: 24px;
  width: 93%;
  overflow: hidden;
  line-height: 0;
  border-radius: 4px;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1670361188 svg {
  position: relative;
  display: block;
  width: calc(100% + 12px);
  height: 44px;
}

.custom-shape-divider-bottom-1670361188 .shape-fill {
  fill: #5E240B;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 200px;
  }
}

@media (min-width: 360px) and (max-width: 768px){
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 60px;
    right: 0;
    background: #0D0D0D;
    height: 0;
    z-index: 1000;
    transition: .6s;
    visibility: hidden;
    overflow-y: hidden;
  }
  
  #menu a {
    padding: 1rem 0;
    margin: 0 1.5rem;
    font: 600 16px 'Playfair Display SC', serif;
    border-bottom: 2px solid ;
  }

  #nav.active #menu {
    height: calc(70vh - 60px);
    visibility: visible;
    overflow-y: auto;
    border-radius: 4px;
  }

  #btn-mobile {
    display: flex;
    padding: 1rem 2rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    color: #F2CB05;
    gap: .5rem;
  }

  #hamburger {
    display: block;
    border-top: 2px solid;
    width: 20px;
  }

  #hamburger::after, #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }
  
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px
  }

  section {
    display: grid;   
  }

  section h2 {
    font: 400 48px 'Playfair Display SC', serif;
    text-align: center;
    text-transform: unset;
    padding: 12px;
  }

  .cursos p {
    padding-top: 4px;
  }

  .links {
    justify-content: center;
    margin: auto;
  }

  .faq-lista {
    text-align: start;
    margin-right: 14px;
  }

  .contato h2 {
    font: 300 36px 'Playfair Display SC', serif;
  }

  .dados li {
    text-align: start;
    padding-right: 8px;
    margin-right: 68px;
  }

  .copy {
    font-weight: bolder;
    margin-bottom: 0px;
  }
}